body {
  background: #222;
  color: #AAA; }
textarea {
	background: #111;
	width:80%;
	height:50%;
	color: lime;
	border: 1px solid #999; }
#newEvent {
	display: none;}
#editEvent {
	display: none; }
.warn	{ color: yellow; }
.green	{ color: lime; }
.over	{ color: red; }
.current { color: orange; }
.events-current {
  background: #555; }
.subject {
  float: left;
  color: #FFF;
  font-size: 2rem;
  font-weight: 900; }
.countdown {
  float: right;
  font-size: 2rem;
  font-weight: 900; }
.events {
 /* display: block; */
  /*width: 99%; */
  text-align: left;  }
table.events {
  width: 99%;
}
.notes {
  background: #000;
  margin-top: 10px;
  font-size: 1.8rem;
  color: #fff;
  max-width: 100%; }
.debug {
  background: #000;
  color: lime;
  margin-top: 15px;
  border: 1px solid lime; }
.clock {
  display: none;
  font-size: 1.8rem;
  font-weight: 600;
  color: #AAA;
  padding: 5px;
  margin-bottom: 0px; }
.button {
	vertical-align: middle;
  border: 1px solid #333;
  background-color:  #4CAF50;
  margin-top: 0px;
  margin-bottom: 0px;
  width: 150px;
  height: 90px;}
.nav-button {
	vertical-align: middle;
  float: right }
.container {
  width: 99%;
  max-width: 99%;
  padding: 0 5px; }
.header {
  background-color: #666;
  margin-top: 6rem;
  text-align: center; }
.header.columns {
  background: #666; }
.navbar {
  font-size: 3rem;
  font-weight: 600;
  background: #222;
  /*display: none;*/ }
.events {
  text-align: left; }

/* Larger than phone */
@media (min-width: 550px) {
  .button {
		vertical-align: middle;
    border: 1px solid #333;
    background-color:  #4CAF50;
    margin-top: 10px;
    margin-bottom: 0px;
    height: 45px; }
  .nav-button {
		vertical-align: middle;
    float: right }
  .two-thirds.column { width: 68.8%; }
  .column,
  .columns {
    background: transparent;
    margin-left: 3px; }
  .clock-wrapper {
    display: block;
    min-width: 50px;
  }
  .clock {
    display: block;
    font-size: 1.8rem;
    font-weight: 600;
    color: #AAA;
    padding: 5px;
    margin-bottom: 0px; }
  .header {
    background-color: #666;
    text-align: center;
    margin-top: 6rem; }
  .events {
    text-align: left; }
}

/* Larger than tablet */
@media (min-width: 750px) {
  /* Navbar */
  .clock-wrapper {
    display: block;
    min-width: 50px; }
  .clock {
    display: block;
    font-size: 1.8rem;
    font-weight: 600;
    color: #AAA;
    padding: 5px;
    margin-bottom: 0px; }
  .navbar,
  .navbar-spacer {
    display: block;
    width: 100%;
    height: 6.5rem;
    background: #222;
    z-index: 99;
    border-top: 0px solid #eee;
    border-bottom: 1px solid #eee; }
  .navbar-spacer {
    display: none; }
  .navbar > .container {
    width: 100%; }
  .navbar-list {
    list-style: none;
    margin-bottom: 0; }
  .navbar-item {
    position: relative;
    float: left;
    margin-bottom: 0; }
  .navbar-link {
    text-transform: uppercase;
    font-size: 11px;
    font-weight: 600;
    letter-spacing: .2rem;
    margin-right: 35px;
    text-decoration: none;
    line-height: 6.5rem;
    color: #222; }
  .navbar-link.active {
    color: #33C3F0; }
  .has-docked-nav .navbar {
    position: fixed;
    top: 0;
    left: 0; }
  .has-docked-nav .navbar-spacer {
    display: block; }
  /* Re-overiding the width 100% declaration to match size of % based container */
  .has-docked-nav .navbar > .container {
    width: 80%; }
}
