/* Mobile first */
/* and generic stuff */
.progress-wrapper { width: 40%; float: left; text-align: left; }
#neededBy { display: none; }
#whoami { width: 100%; }
.needby-container { width: 35%; float: left; text-align: center; }
.button:hover { color: #ddd; }
button:hover { color: #ddd; }
.dropdown.menu { float:right; margin-right: 15px;}
.details-container { width: 70%; }
.priority-container { width: 20%; float:left; width:10%;}
.priority { min-width:50px; color:steel; font-size: 35px; font-weight: 900; }
li.inProgress { border: 4px solid lime; }
.inProgress { color:orange; font-size: 12px; }
.tags-summary { display: none; }
.tags-details { font-size: 1em; margin-left: 10px; }
a.tags-details { color: #00BFFF; text-decoration: none;}
a.tags-details:hover { color: #00FFFF; text-shadow: 0px 0px 23px #FFF; }
.subject {
	overflow: hidden;
	min-width: 80%;
  float: left;
  color: #FFF;
  font-size: 1.5rem;
  font-weight: 900; }
body {
	width: 90%;
	margin-left: auto;
	margin-right: auto;
  background: #222;
  color: #AAA; }
.column-left { display: none; }
.column-right { display: none; }
.column-middle { width: 100%; overflow: auto; background: #333; padding-bottom: 200px; margin-left: auto; margin-right: auto;}
#mainMenuWrapper:after { content: ""; clear: both; }
#sortable { list-style-type: none; margin: 0; padding: 0; width: 100%; }
#sortable li { font-size: 1.4em; color: #AAA;}
#sortable li span { position: absolute; margin-left: -1.3em; }
  .portlet {
    padding: 0.3em;
  }
  .backlog-list-header {
    padding: 0.2em 0.3em;
		padding-bottom: 0.9em;
    position: relative;
  }
  .portlet-toggle {
    position: absolute;
    top: 50%;
    right: 0;
    margin-top: -8px;
  }
  .backlog-list-content {
		float: left;
		width: 96%;
		border-top: 2px solid #DDD;
		display: none;
    padding: 0.4em;
  }
  .portlet-placeholder {
    border: 1px dotted black;
    margin: 0 1em 1em 0;
    height: 50px;
  }
.ui-icon,
.ui-widget-content .ui-icon {
	background-image: url("https://code.jquery.com/ui/1.12.1/themes/base/images/ui-icons_ffffff_256x240.png");
}
.ui-widget-content { background: #000; color: #aaa;}
.ui-widget-header { background: #333; color: #aaa;}
a.punch-default { color: #00BFFF; font-size: 12px; text-decoration: none;}
a.punch-default:hover { color: #00FFFF; text-shadow: 0px 0px 23px #FFF; }
.punch-default { border: 0px solid #AAA; color: #aaa; font-size: 12px; font-family: Arial, Helvetica, sans-serif;}
.inprogress { color: orange; font-size: 12px; }
.waiting { color: red; font-size: 12px; }
li.waiting { border: 4px solid red ; }
.overdue { color: red; font-size: 12px; border: 1px solid red; padding:3px;}
.duesoon { color: yellow; font-size: 12px; border: 1px solid yellow; padding:3px;}
.hide { display: none; }
i {
  border: solid black;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
}
.down {
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}
.punch-list-backlog-details {
	font-size: 18px;
	color: #aaa;
}
.edit-row { padding-top: 5px; }
.edit-text-box { width: 100%; min-height: 200px; font-size: 12px; }
.ui-widget textarea { font-size: 12px; }
textarea {
	font-size: 12px;
	background: #111;
	width:80%;
	height:50%;
	color: lime;
	border: 1px solid #999; }
.listWrapper:after {
	content: "";
	/*clear: both;*/ }
.listWrapper {
	margin: 5px;
	background: #333;
	margin-bottom: 10px;
	border: 0px solid #999; }
.punchListHeader {
	color: #00bfff;
	padding: 4px;
	font-size: 2rem;
	font-weight: 999; }
	.one.column,
	.one.columns                    { width: 4.66666666667%; }
	.two.columns                    { width: 13.3333333333%; }
	.three.columns                  { width: 22%;            }
	.four.columns                   { width: 30.6666666667%; }
	.five.columns                   { width: 39.3333333333%; }
	.six.columns                    { width: 48%;            }
	.seven.columns                  { width: 56.6666666667%; }
	.eight.columns                  { width: 65.3333333333%; }
	.nine.columns                   { width: 74.0%;          }
	.ten.columns                    { width: 82.6666666667%; }
	.eleven.columns                 { width: 91.3333333333%; }
	.twelve.columns                 { width: 100%; margin-left: 0; }
#newEvent {
	display: none;}
#editPunch {
	display: none; }
.punchlist {
	position: relative;
	width: 100%;
	display: table;
	border-top: 1px solid #eee;
	border-bottom: 1px solid #eee; }
.punchlist::after {
	content: "";
	clear: both; }
.top-bottom-border {
		border-top: 1px solid #eee;
		border-bottom: 1px solid #eee; }
.navbar {
  overflow: hidden;
  background-color: #333;
  font-family: Arial, Helvetica, sans-serif;
}

.navbar a {
  float: left;
  font-size: 16px;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.top { vertical-align: top; padding: 0px; margin: 0px; }

/* Dropdown Button */
.dropbtn {
	height: 15px;
/*	background-image: url("../images/down-carrot.png"); */
	vertical-align: top;
  background-color: #3498DB;
  color: white;
  padding: 6px;
  font-size: 10px;
  cursor: pointer;
	border: 0px;
	z-index: 1000;
}

/* Dropdown button on hover & focus */
.dropbtn:hover, .dropbtn:focus {
  background-color: #2980B9;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
	min-width: 20px;
  position: relative;
  display: inline-block;
	height: 20px;
	float: left;
	width: 35px;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: relative;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1000;
	float:right;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  z-index: 1000;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #aaa;}

/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
.show {display:block;}
.hide {display:none;}

.warn	{ color: yellow; }
.green	{ color: lime; }
.over	{ color: red; }
.current { color: orange; }
.punches-current {
  background: #555; }
.countdown {
  float: right;
  font-size: 2rem;
  font-weight: 900; }
.punches {
 /* display: block; */
  /*width: 99%; */
  text-align: left;  }
.notes {
  background: #000;
  margin-top: 10px;
  font-size: 1.8rem;
  color: #fff;
  max-width: 100%; }
.debug {
  background: #000;
  color: lime;
  margin-top: 15px;
  border: 1px solid lime; }
.clock {
  display: none;
  font-size: 1.8rem;
  font-weight: 600;
  color: #AAA;
  padding: 5px;
  margin-bottom: 0px; }
.centerMiddle {
	padding:0px;
	text-align: center;
	vertical-align: middle; }
.button {
	display: block;
	padding: 0px;
	text-align: center;
	text-decoration: none;
	font-size: 1.5rem;
	vertical-align: middle;
  border: 1px solid #333;
  background-color:  #4CAF50;
  margin-top: auto;
  margin-bottom: auto;
	margin-left: auto;
	margin-right: auto;
  width: 98%;
  height: 50px;}
.nav-button {
	vertical-align: middle;
  float: right }
.container {
  width: 99%;
  max-width: 99%;
  padding: 0 5px; }

.header {
  background-color: #666;
  margin-top: 6rem;
  text-align: center; }
.header.columns {
  background: #666; }
.navbar {
  font-size: 3rem;
  font-weight: 600;
  background: #222;
  /*display: none;*/ }
.punches {
  text-align: left; }

