---
---

@import "{{ site.theme }}";

.topnav {
  background-color: #333;
  max-width: 750px;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: #ddd;
  color: black;
}

/* Add a color to the active/current link */
.topnav a.active {
  background-color: #4CAF50;
  color: white;
}

.wrapper {
  max-width: 650px;
  margin: 0 auto;
  position: relative;
  padding: 0 20px;
  padding-bottom: 10.5rem;
}

.site-footer {
  width: 100%;
  border-top: 1px solid gray;
  padding: 3px 0;
  position: fixed;
  bottom: 0;
  height: 10.5rem;
  background: #353535;
}

.footer-content {
  max-width: 750px; margin: 0 auto; position: relative; padding: 0 20px;
}

.footer-heading {
  font-size: 18px;
}

.disclaimer, .copyright {
  padding: 3px;
  font-size: 10px;
}

.book {
  border: 3px;
  padding: 2px;
  margin: 2px;
}

.dumb {
  width: 100px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

#footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 2.5rem;
  background: #353535;
}
