#sortable { list-style-type: none; margin: 0; padding: 0; width: 100%; }
#sortable li { font-size: 1.4em; color: #AAA;}
#sortable li span { position: absolute; margin-left: -1.3em; }
  .portlet {
    padding: 0.3em;
  }
  .backlog-list-header {
    padding: 0.2em 0.3em;
		padding-bottom: 0.9em;
    position: relative;
  }
  .portlet-toggle {
    position: absolute;
    top: 50%;
    right: 0;
    margin-top: -8px;
  }
  .backlog-list-content {
		display: none;
    padding: 0.4em;
  }
  .portlet-placeholder {
    border: 1px dotted black;
    margin: 0 1em 1em 0;
    height: 50px;
  }
.ui-widget-content { background: #000; color: #aaa;}
.ui-widget-header { background: #333; color: #aaa;}
a.punch-default { color: #aaa; font-size: 12px; text-decoration: none;}
a.punch-default:hover { color: #00FFFF; }
.punch-default { border: 0px solid #AAA; color: #aaa; font-size: 12px; }
.inProgress { color: orange; font-size: 12px; }
.overdue { color: red; }
.duesoon { color: yellow; }
.hide { display: none; }
.punch-list-backlog-details {
	font-size: 18px;
	color: #aaa;
}
.edit-row { padding-top: 5px; }
.edit-text-box { width: 100%; min-height: 200px; font-size: 12px; }
.ui-widget textarea { font-size: 12px; }
body {
  background: #222;
  color: #AAA; }
textarea {
	font-size: 12px;
	background: #111;
	width:80%;
	height:50%;
	color: lime;
	border: 1px solid #999; }
.listWrapper:after {
	content: "";
	clear: both; }
.listWrapper {
	margin: 5px;
	margin-bottom: 10px;
	border: 1px solid #999; }
.punchListHeader {
	color: #00bfff;
	padding: 4px;
	font-size: 2rem;
	font-weight: 999; }
	.one.column,
	.one.columns                    { width: 4.66666666667%; }
	.two.columns                    { width: 13.3333333333%; }
	.three.columns                  { width: 22%;            }
	.four.columns                   { width: 30.6666666667%; }
	.five.columns                   { width: 39.3333333333%; }
	.six.columns                    { width: 48%;            }
	.seven.columns                  { width: 56.6666666667%; }
	.eight.columns                  { width: 65.3333333333%; }
	.nine.columns                   { width: 74.0%;          }
	.ten.columns                    { width: 82.6666666667%; }
	.eleven.columns                 { width: 91.3333333333%; }
	.twelve.columns                 { width: 100%; margin-left: 0; }
#newEvent {
	display: none;}
#editPunch {
	display: none; }
.punchlist {
	position: relative;
	width: 100%;
	display: table;
	border-top: 1px solid #eee;
	border-bottom: 1px solid #eee; }
.punchlist::after {
	content: "";
	clear: both; }
.top-bottom-border {
		border-top: 1px solid #eee;
		border-bottom: 1px solid #eee; }
.navbar {
  overflow: hidden;
  background-color: #333;
  font-family: Arial, Helvetica, sans-serif;
}

.navbar a {
  float: left;
  font-size: 16px;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.dropdown {
  float: left;
  overflow: hidden;
}

.dropdown .dropbtn {
  cursor: pointer;
	vertical-align: middle;
  font-size: 16px;
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}

.navbar a:hover, .dropdown:hover .dropbtn, .dropbtn:focus {
  background-color: red;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {
  background-color: #ddd;
}

.show {
  display: block;
}
.warn	{ color: yellow; }
.green	{ color: lime; }
.over	{ color: red; }
.current { color: orange; }
.punches-current {
  background: #555; }
.subject {
	width: 89%;
  float: left;
  color: #FFF;
  font-size: 2rem;
  font-weight: 900; }
.countdown {
  float: right;
  font-size: 2rem;
  font-weight: 900; }
.punches {
 /* display: block; */
  /*width: 99%; */
  text-align: left;  }
.notes {
  background: #000;
  margin-top: 10px;
  font-size: 1.8rem;
  color: #fff;
  max-width: 100%; }
.debug {
  background: #000;
  color: lime;
  margin-top: 15px;
  border: 1px solid lime; }
.clock {
  display: none;
  font-size: 1.8rem;
  font-weight: 600;
  color: #AAA;
  padding: 5px;
  margin-bottom: 0px; }
.centerMiddle {
	padding:0px;
	text-align: center;
	vertical-align: middle; }
.button {
	display: block;
	padding: 0px;
	text-align: center;
	text-decoration: none;
	font-size: 1.5rem;
	vertical-align: middle;
  border: 1px solid #333;
  background-color:  #4CAF50;
  margin-top: auto;
  margin-bottom: auto;
	margin-left: auto;
	margin-right: auto;
  width: 98%;
  height: 50px;}
.nav-button {
	vertical-align: middle;
  float: right }
.container {
  width: 99%;
  max-width: 99%;
  padding: 0 5px; }
.header {
  background-color: #666;
  margin-top: 6rem;
  text-align: center; }
.header.columns {
  background: #666; }
.navbar {
  font-size: 3rem;
  font-weight: 600;
  background: #222;
  /*display: none;*/ }
.punches {
  text-align: left; }

/* Larger than phone */
@media (min-width: 550px) {
  .button {
		padding: 0px;
		text-align: center;
		text-decoration: none;
		font-size: 1rem;
		vertical-align: middle;
		border: 1px solid #333;
		background-color:  #4CAF50;
		margin-top: auto;
		margin-bottom: auto;
		margin-left: auto;
		margin-right: auto;
		width: 20%;
		height: 40px;
		float: right;}
  .nav-button {
		vertical-align: middle;
    float: right }
  .two-thirds.column { width: 68.8%; }
  .column,
  .columns {
    background: transparent;
    margin-left: 3px; }
  .clock-wrapper {
    display: block;
    min-width: 50px;
  }
  .clock {
    display: block;
    font-size: 1.8rem;
    font-weight: 600;
    color: #AAA;
    padding: 5px;
    margin-bottom: 0px; }
  .header {
    background-color: #666;
    text-align: center;
    margin-top: 6rem; }
  .punches {
    text-align: left; }
}

/* Larger than tablet */
@media (min-width: 750px) {
  body { margin-left: auto;
		margin-right: auto;
		width: 800px; }
  /* Navbar */
  .clock-wrapper {
    display: block;
    min-width: 50px; }
  .clock {
    display: block;
    font-size: 1.8rem;
    font-weight: 600;
    color: #AAA;
    padding: 5px;
    margin-bottom: 0px; }
  .navbar,
  .navbar-spacer {
    display: block;
    width: 100%;
    height: 6.5rem;
    background: #222;
    z-index: 99;
    border-top: 0px solid #eee;
    border-bottom: 1px solid #eee; }
  .navbar-spacer {
    display: none; }
  .navbar > .container {
    width: 100%; }
  .navbar-list {
    list-style: none;
    margin-bottom: 0; }
  .navbar-item {
    position: relative;
    float: left;
    margin-bottom: 0; }
  .navbar-link {
    text-transform: uppercase;
    font-size: 11px;
    font-weight: 600;
    letter-spacing: .2rem;
    margin-right: 35px;
    text-decoration: none;
    line-height: 6.5rem;
    color: #222; }
  .navbar-link.active {
    color: #33C3F0; }
  .has-docked-nav .navbar {
    position: fixed;
    top: 0;
    left: 0; }
  .has-docked-nav .navbar-spacer {
    display: block; }
  /* Re-overiding the width 100% declaration to match size of % based container */
  .has-docked-nav .navbar > .container {
    width: 80%; }
}
